#crear2{
  background-color: #D9D9D9;
  margin: 0;
  padding: 10px;
  border-radius: 10px 10px 0% 0%;
  }
  
#crear{
  background-color: #727376;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  transform: scale(.8);
  }
    
    #navbar{
        max-width: 5vh;
    }
    
    .container-fluid {
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
    .contenido{
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      margin-bottom: 5vh;
      width: 100%;
      background-color:#D9D9D9;
      border-radius: 20px;
      padding: 5vh;
    }
    
    table{
      background-color: white;
      width: 100%;
      height: auto;
    }

    #filtro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    }