<div class="navbar mt-3 p-0 d-flex justify-content-end">
    <h5 id="crear">CONSULTAR CITA</h5>
</div>

<div class="container-fluid">
    <div id="form-consultar">
        <h5 class="text-center mb-2 text-warning" *ngIf="mostrarBanner">Favor de escoger la fecha y hora de la cita</h5>
        <h5 class="text-center mb-2 text-light" *ngIf="mostrarBannerDos">La cita ha sido actualizada</h5>
        <div class="row">
            <form>
                <div class="row row-cols-1 row-cols-md-2 mt-2">
                    <div class="col">
                        NOMBRE
                        <input type="text" name="nombre" [(ngModel)]="Egresado.nombre" class="form-control" disabled>
                    </div>
                    <div class="col">
                        MATRÍCULA
                        <input type="text" name="matricula" [(ngModel)]="Egresado.matricula" class="form-control" disabled>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-3 mt-2">
                    <div class="col">
                    NIVEL A TITULARSE
                        <input type="text" class="form-control" name="nivelTitulacion" [(ngModel)]="Egresado.nivelTitulacion" disabled>
                    </div>
                    <div class="col">
                    CARRERA A TITULARSE
                        <input type="text" class="form-control" name="carreraTitulacion" [(ngModel)]="Egresado.carreraTitulacion" disabled>
                    </div>
                    <div class="col">
                    GENERACIÓN
                        <input type="text" class="form-control" name="generacion" [(ngModel)]="Egresado.generacion" disabled>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-3 mt-2">
                    <div class="col">
                    CORREO ELECTRÓNICO
                        <input type="email" class="form-control" name="email" [(ngModel)]="Egresado.correo" disabled>
                    </div>
                    <div class="col">
                    NÚMERO DE TELÉFONO
                        <input type="text" class="form-control" name="telefono" [(ngModel)]="Egresado.telefono" disabled>
                    </div>
                    <div class="col">
                    CURP
                        <input type="text" class="form-control" name="curp" [(ngModel)]="Egresado.curp" disabled>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-2 mt-2">
                    <div class="col">
                        FECHA
                        <input type="date" class="form-control" name="fecha" [(ngModel)]="Cita.fecha" disabled>
                    </div>
                    <div class="col">
                        HORA
                        <select class="form-select" name="hora" [(ngModel)]="Cita.hora" disabled>
                            <option *ngFor="let horario of horarios" [value]="horario">{{horario}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
