<div class="navbar mt-3 p-0 d-flex justify-content-end">
    <h5 id="crear">CREAR ADMINISTRADOR</h5>
</div>

<div class="container-fluid">
    <div id="form-crear">
        <div class="row">
            <form>
                    <div class="col">
                        NÚMERO DE TRABAJADOR
                        <input type="text" class="form-control">
                    </div>
                    <div class="col">
                        NOMBRE
                        <input type="text" class="form-control">
                    </div>
                
                    <div class="col-12 mt-4 mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">CREAR ADMINISTRADOR</button>
                    </div>
            </form>
        </div>
    </div>
</div>